<div id="illustration" >
  <div class="moon" style="font-size:{{moonDiameter + 'px'}}">
    <img src="images/moon.svg" alt=""/>
  </div>
  <div class="rotate-group" style="font-size:{{earthDiameter / 1000 * 5 + 'px'}}">
    <a href="javascript:toggleThirdStation()">
      <img class="earth" src="images/earth_top.svg" />
    </a>
    <div class="regiongroup station1 red" ng-show="showStation['1']">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
    <div class="regiongroup station2 red" ng-show="showStation['2']">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
    <div class="regiongroup station3 green" ng-show="showStation['3']">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
  </div>
</div>

<div>
  <form id="mixer" action="">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="toggleStation(1)"> toggle station 1</button>
      <button class="btn btn-primary" ng-click="toggleStation(2)"> toggle station 2</button>
      <button class="btn btn-primary" ng-click="toggleStation(3)"> toggle station 3</button>
    </div>
    <div class="form-group">
      {{earthDiameter}}
      <div id="earth-slider">
        <input type="range" ng-model="earthDiameter" min="0" max="1000" value="300" step="50"/>
      </div>
    </div>
    <div class="form-group">
      <label for="keyinput">Use key 'a', 's' and 'd' to toggle the stations</label>
      <br/>
      <label for="keyinput">Use key 'j' and 'k' to control the earth diameter slider</label>
      <br/>
      <input id="keyinput"/>
    </div>
  </form>
</div>


<div style="display: none;">
  <audio controls autoplay>
    <source src="volume/target.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>



<!--<script>-->
  <!--window.toggleThirdStation = function(){-->
    <!--//alert('h');-->
    <!--var station3 = document.querySelector('.station3');-->
    <!--if (station3.style.visibility == 'visible'){-->
      <!--station3.style.visibility = 'hidden';-->
    <!--} else {-->
      <!--station3.style.visibility = 'visible';-->
    <!--}-->
  <!--};-->
<!--</script>-->

